@import "../abstracts/variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    max-width: $grid-width;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 400;
    color: $off-white;
}